<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @document.content %>
</p>

<p>
  <strong>Address:</strong>
  <%= @document.address %>
</p>

<p>
  <strong>Hashedmessages:</strong>
  <%= @document.hashedmessages %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
